{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }}</h1>

    <h3>Les derniers commentaires</h3>


    {% if comments is not empty %}
        <ul>
            {% for comment in comments %}
                <li>
                    <b>({{ comment.owner }})  </b>{{ comment.content }}
                    {% if comment.replies is not empty %}<a href="{{ path('app_comment_show', {'id' : comment.id}) }}">réponses</a>{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><a href="{{ path('app_post_index') }}">Gérer les articles</a></p>
{% endblock %}
