{% import "macro_comments.html.twig" as commentsfnc %}
{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <p>
        <b>({{ comment.owner }})  </b>{{ comment.content }}
    </p>

    {% if comment.replies is not empty %}
        <h3>Réponses</h3>
        {{ commentsfnc.render_comments(comment.replies) }}
    {% endif %}

    <p>
        <a href="{{ path('app_main') }}">Retour</a>
    </p>
{% endblock %}
