{% macro render_comments(comments) %}
    <ul>
        {% for comment in comments %}
            <li>
                <b>({{ comment.owner }})  </b>{{ comment.content }}
                {% if comment.replies is not empty %}
                    {{ _self.render_comments(comment.replies) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}