<form method="post" action="{{ path('app_post_delete', {'id': post.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn">Supprimer</button>
</form>
