{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% if user.isPostOwner(post) %}
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}

    <a href="{{ path('app_post_index') }}">Retour à la liste</a>
{% endblock %}
