{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.title[:70] ~ '...' }}</td>
                <td>{{ post.content[:70] ~ '...' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">Afficher</a>
                    {% if user.isPostOwner(post) %}
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Editer</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Ajouter un article</a>
{% endblock %}
