{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Créer un nouveau article</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">Retour à la liste</a>
{% endblock %}
