{% import "macro_comments.html.twig" as commentsfnc %}
{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Détail article</h1>

    <h3> {{ post.title }} </h3>

    <p>
        {{ post.content }}
    </p>

    {% if post.comments is not empty %}
        <h3>Commentaires</h3>
        {{ commentsfnc.render_comments(post.comments) }}
    {% endif %}

    <p>
        <a href="{{ path('app_post_index') }}">Retour à la liste</a>

        {% if user.isPostOwner(post) %}
            <a href="{{ path('app_post_edit', {'id': post.id}) }}">Editer</a>
        {% endif %}
    </p>

    {% if user.isPostOwner(post) %}
        {{ include('post/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
